.app {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background: rgb(35, 21, 60);
    background: linear-gradient(150deg, #531a55 50%, #000000 50%);
    font-weight: bold;
}

/* https://cdn.pixabay.com/photo/2015/10/17/17/14/background-992850_1280.png */

hr {
    border: 1px solid #1b080f;
    background-color: #220a13;
    width: 10rem;
    margin: 0.5rem 0 0.75rem 0;
}

.title {
    font-weight: bold;
}

.header-nav{
    color: #ffffff;
    font-weight: bold;
    
}

/* Home page */
.home-section {
    padding: 0 2rem 0 2rem;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    /* justify-content: space-evenly; */
    align-items: center;
}

.home-section button {
    margin: 1rem;
}

.auth-button {
    background-color: #762a86 ;
}

.auth-button:hover {
    background-color: #762a86 ;
}


/* Auth section */

.auth-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.profile-section {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image {
    margin-bottom: 2rem;
}

.update-pwd-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* Dashboard section */

.dashboard-section {
    min-height: 100vh;
}

.bookRoom-section {
    display: flex;
    flex-direction: column;
    min-height: 90%;
    justify-content: center;
    align-items: center;
}

.dashboard-sub-section {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: white;
}

/* your room section */
.your-room-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.room-card-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.room-card {
    color: white;
    background-color: #000000;
    margin: 0.5rem;
}

/* update room section */

.update-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Available rooms section */

.available_rooms_div {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    align-items: center;
    color: white;
}
.available_sub_div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.available-card {
    box-shadow: 0px -1px 47px -7px #762a86 ;    
    -webkit-box-shadow: 0px -1px 47px -7px #762a86 ;
    -moz-box-shadow: 0px -1px 47px -7px #762a86 ;
    margin: 1.5rem;
    color: white;
    background-color:#531a55;
}
